body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-content: center;
  gap: 15px;
  height: 40px;
  margin: 10px 40px;
}

.logo img {
  width: 180px;
}

.navigation {
 display: flex;
 justify-content: space-between;
 align-content: center;
 width: 100%;
}


.navigationLeft {
  display: flex;
  align-content: center important!;
  font-weight: 600;
}

.navigationLeft ul {
  margin-right: 10px;
}
.exploreMenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  color: #707070;
  margin-top: 12px;
  width: 65px;
}

.exploreMenu a{
  text-decoration: none;
  color: white;
}
.exploreMenu:hover {
  background-color: #9069cd;
  color: white;
  
}

.exploreMenu ul {
display: flex;
flex-direction: column;
gap: 7px;
background-color: #9069cd;
color: white;
font-weight: 300;
width: 120px;
}

.navigationRight {
  display: flex;
  gap: 8px;
}

.buttonSearch {
  font-size: 25px;
  color:#9069cd;
  
}
.navigation ul {
  display: flex;
  align-self: center;
  gap: 15px;
  color: #707070;
}

.addList {
  background-color: white;
  color: #9069cd;
  border-radius: 3px;
  border-color: #9069cd;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}
.login {
  background-color: #9069cd;
  color: white;
  border-radius: 3px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}
