body {
  font-family: "Poppins", sans-serif;
}

/* -----------------------------------------------------------------------------------------
--------------------------------------------------- H E A D E R ----------------------------
----------------------------------------------------------------------------------------------*/

.header {
  display: flex;
  align-content: center;
  gap: 15px;
  height: 40px;
  width: 1300px;
  margin: 50px auto;
}

.logo img {
  width: 180px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.navigationLeft {
  display: flex;
  align-content: center important!;
  font-weight: 600;
}

.navigationLeft ul {
  margin-right: 15px;
}

.exploreMenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  color: #707070;
  margin-top: 12px;
  z-index: 1;
}

.exploreMenu a {
  text-decoration: none;
  color: white;
}
.exploreMenu:hover {
  background-color: #9069cd;
  color: white;
  width: 120px;
}

.exploreMenu ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #9069cd;
  color: white;
  font-weight: 300;
  width: 100%;
}

.navigationRight {
  display: flex;
  gap: 8px;
}

.buttonSearch {
  font-size: 20px;
  color: #9069cd;
}
.navigation ul {
  display: flex;
  align-self: center;
  gap: 15px;
  color: #707070;
}

.addList {
  background-color: white;
  color: #9069cd;
  border-radius: 3px;
  border-color: #9069cd;
  border-style: solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}
.login {
  background-color: #9069cd;
  color: white;
  border-radius: 3px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}

/* ------------------------------------------
--- M O D A L  L O G ----------------------*/

.modalLog {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.7);
}

.modalContainer {
  display: flex;
  gap: 15px;
  border-radius: 20px;
  align-items: center;
  width: 850px;
  height: 540px;
  background-color: #ffffff;
}

.buttonClose {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  padding: 15px;
  margin: 10px;
  border-radius: 50px;
}

.modalDivLeft {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  width: 45%;
  background-image: url(/src/assets/img/loginphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.modalDivLeft h1 {
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-left: 30px;
}

.modalDivLeft p {
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
}

.modalDivRight {
  display: flex;
  align-self: flex-start;
  margin-top: 40px;
  flex-direction: column;
  width: 65%;
}

.navModal a {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.navModal a:hover {
  cursor: grab;
  text-decoration: underline 3px #9069cd;
}

.navModal {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.containRightModal {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ------------------------------------------
--- L O G I N  C O M P O N E N T ----------*/

.loginComponent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 400px;
}

.startLineInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.startLineInput input {
  height: 30px;
  font-family: "Poppins", sans-serif;
}

.lastLineInput {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.loginComponent button {
  width: 100%;
  height: 30px;
  background-color: #9069cd;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.loginComponent a {
  font-size: small;
  text-decoration: none;
  color: #707070;
}

.loginComponent label {
  font-weight: 600;
}

/* ------------------------------------------
--- S I G N  U P  C O M P O N E N T -------*/

.signupSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  height: 400px;
}

.signupSection input {
  font-family: "Poppins", sans-serif;
}

.signupSection label {
  font-weight: 600;
}

.signupSection button {
  height: 30px;
  background-color: #9069cd;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/* -----------------------------------------------------------------------------------------
--------------------------------------------------- P  A  G  E   H O M E  B L O C -------------
----------------------------------------------------------------------------------------------*/

.homeContainer {
  width: 1300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.titleRestaurantsScroll {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  width: 100%;
}

.titleRestaurantsScroll h1 {
  font-size: 30px;
  font-weight: 650;
}

.titleRestaurantsScroll a {
  color: #9069cd;
  font-weight: 650;
  text-decoration: none;
}

.titleRestaurantsScroll img {
  width: 10px;
}

.scrollRestaurants {
  display: flex;
}

.ficheRestaurantScroll {
  display: flex;
  height: 350px;
  overflow: scroll;
  gap: 15px;
}

.ficheRestaurantStart {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ficheRestaurantStart img {
  width: 270px;
  height: 177px;
  object-fit: cover;
  border-radius: 10px;
}

.address {
  color: #707070;
  font-weight: 580;
}

.ficheRestaurantStart a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 18px;
}

.descRestaurantFicheScroll {
  font-size: 15px;
  line-height: 22px;
}

/* ---------------------------------------------------------------------------------------------------------------------
--------------------------------------------------- P  A  G  E   R  E  S  T  A  U  R  A  N  T  S   B L O C -------------
------------------------------------------------------------------------------------------------------------------------*/

.displayRestaurants {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 50px auto;
}

.searchDivRestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/bghero.webp);
  background-repeat: no-repeat;
  height: 180px;
}

.sectionSearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 7px;
  width: 800px;
}

.resultsSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: white;
  position: fixed;
  width: 800px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 50px;
}

.searchBar input {
  border-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 90%;
}



.searchBar button {
  background-color: #9069cd;
  border-style: none;
  width: 10%;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.displayRestaurantsMap {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  height: 500px;
}

.displayAllRestaurants {
  display: flex;
  overflow: scroll;
  width: 50%;
  justify-content: column;
  flex-wrap: wrap;
}

.displayRestaurantCard {
  display:flex;
  flex-direction: column;
}

.displayCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.displayCards img {
  width: 210px;
  height: 240px;
  object-fit: contain;
}

.infoDisplayCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infoDisplayCard a{
  font-weight: 500;
}

.titleLinkName {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.addressCard {
  color: #707070;
  font-weight: 500;
}
